body
{
	background-color: #2E54A0;
	color: #F2E4D2;
	font-family: Vegur, 'PT Sans', Verdana, sans-serif;
}
h2
{
	text-align: center;
	font-size: 60px;
	color: #FFCA7A;
}
h3
{
	text-align: center;
	font-size: 30px;
	color: #FFCA7A;
}
img
{
	margin-top: -30px;
	height: 200px;
	width: 200px;
	float: right;
}
p
{
	font-size: 25px;
}
#cuadro
{
	width: 1253px;
	height: 320px;
	padding: 20px 40px;
	background: #CFA280;
}